html,body{
    margin: 0;
    background-color: green;
}
img{
    width: 150px;
}
.flex-container {


    display: flex;
  
  
    height: 200px;
  
  
    background-color: #00A4BD;
  
  
  }
  
  
  .flex-container > div {
  
  
    background-color: #EAF0F6;
  
  
    width: 90px;
  
  
    margin: 10px;
  
  
    text-align: center;
  
  
    line-height: 50px;
  
  
    font-size: 60px;
  
  
    flex: 1 1 200px;
  
  
  }
  
  